.lane:nth-child(1) .lane-ball {
    background: var(--accent);
}

.lane:nth-child(2) .lane-ball {
    background: var(--accent2);
}

.lane:nth-child(3) .lane-ball {
    background: var(--accent3);
}

.lane:nth-child(4) .lane-ball {
    background: var(--accent4);
}

.lane:nth-child(5) .lane-ball {
    background: var(--accent5);
}

.lane:nth-child(6) .lane-ball {
    background: var(--accent6);
}