@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "DM Mono", monospace;
  --font-display: "Syne", sans-serif;

  /* --- Semantic Colors (Raw components for opacity support) --- */
  --color-primary-raw: 65.395% 0.15496 262.379;
  --color-secondary-raw: 67.504% 0.18566 2.349;
  --color-success-raw: 85.508% 0.15102 163.687;
  --color-warning-raw: 84.514% 0.13362 90.019;
  --color-purple-raw: 60.037% 0.21104 294.909;
  --color-orange-raw: 73.63% 0.13492 47.08;
  --color-teal-raw: 62.337% 0.18771 24.706;

  --color-primary: oklch(var(--color-primary-raw));
  --color-secondary: oklch(var(--color-secondary-raw));
  --color-success: oklch(var(--color-success-raw));
  --color-warning: oklch(var(--color-warning-raw));
  --color-accent-purple: oklch(var(--color-purple-raw));
  --color-accent-orange: oklch(var(--color-orange-raw));
  --color-accent-teal: oklch(var(--color-teal-raw));

  --color-bg-main: oklch(14.734% 0.01075 284.992);
  --color-bg-subtle: oklch(18.106% 0.01431 284.872);
  --color-bg-foreground: oklch(93.331% 0.01083 286.05);
  --color-bg-surface: oklch(22.249% 0.01942 284.704);

  --color-text-base: oklch(93.331% 0.01083 286.05);
  --color-text-muted: oklch(65.115% 0.08164 283.901);

  --color-border-subtle: oklch(100% 0.00011 271.152 / 0.08);
  --color-border-default: oklch(100% 0.00011 271.152 / 0.15);

  /* --- Spacing & Radius --- */
  --radius-lg: 12px;
  --radius-md: 7px;
  --spacing-base: 12px;
}

:root {
  --color-text-foreground: oklch(93.331% 0.01083 286.05);
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}