.perf-track {
    /* CSS container query: style dựa trên kích thước cả parent thay vì viewport*/
    container-type: inline-size;
}

.bad.moving {
    animation: moveLeft 1.2s linear infinite alternate;
}

.good.moving {
    animation: moveTransform 1.2s linear infinite alternate;
}

@keyframes moveLeft {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 64px);
    }
}

@keyframes moveTransform {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(100cqw - 64px));
    }
}